* {
    box-sizing: border-box;
}

body {
    background-color: rgb(90, 253, 171);
}

body > h1 {
    color: white
}

.domino-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.domino-list > li {
    list-style-type: none;
    font-size: 5rem;
   transition: transform 0.5s;
}

.domino-list > li:hover {
    transform: scale(1.5) rotate(360deg)
}

.selected {
    color: white;
    filter:drop-shadow(0 0 0.25rem rgb(0, 0, 255));
}